<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav d-flex flex-column">
        <!-- <a routerLink="./login" [ngClass]="route.indexOf('login') > -1 ? 'active' : ''" class="nav-link cursor-pointer">Login</a> -->
        <a routerLink="./profile" [ngClass]="route.indexOf('profile') > -1 ? 'active' : ''" class="nav-link cursor-pointer">Profile</a>
        <a routerLink="./features" [ngClass]="route.indexOf('features') > -1 ? 'active' : ''" class="nav-link cursor-pointer">Features</a>
      </div>
    </div>
  </div>
</nav>